<div class="basket-item">
    <div class="basket-item__icon">
        <img src="/assets/games/icon-{{item.type}}.png" alt="">
    </div>
    <div class="basket-item__info">
        <div class="basket-item__title">{{item.name}}</div>
        <br />
        on: {{item.date}}<br />
        {{item.lines}} lines, ticket number: {{item.ticketNumber}}
    </div>
    <div class="basket-item__actions">
        <div class="basket-item__price">€{{item.price}}</div>
        <div>
            <img src="/assets/icon-edit.png" (click)="editItem(item.ticketNumber)" alt="">
            <img src="/assets/icon-delete.png" (click)="deleteItem(item.ticketNumber)" alt="">
        </div>
    </div>
</div>