.basket-item {
  background: #e1e1e1;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__icon {
    flex: 3;
    text-align: center;

    img {
      max-width: 100px;
    }
  }

  &__info {
    flex: 14;
  }

  &__title {
    font-size: 22px;
  }

  &__actions {
    flex: 2;
    text-align: center;
  }

  &__price {
    font-size: 20px;
    padding-bottom: 15px;
  }

}