:host {
  background: #fff;
  background-size: cover;
  background-position: center center;
  padding: 20px;
}
.box-title {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-weight: 100;
  color: #2a517c;
}