<box-layout>
    <box [span]="3" title="Login">
        <div>
            Please authorize this application.
        </div>
        <div>&nbsp;</div>
        <div>
            <button class="primary">Authorize</button>
        </div>
    </box>
</box-layout>