<box-layout>
    <box [span]="3" title="Basket">
        <basket-item *ngFor="let item of items" [item]="item"></basket-item>

        <div class="basket-submit">
            <div class="basket-submit__total">
                Total price: <span class="price">€{{totalPrice}}</span>
            </div>
            <div class="basket-submit__button">
                <button class="primary" (click)="submitBasket()">Submit basket</button>
            </div>
        </div>
    </box>
</box-layout>