.content-wrapper {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.nav-list {
  text-align: right;
  margin-bottom: 30px;
}
.nav-list:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.nav-brand {
  font-size: 32px;
  color: rgba(0, 0, 0, .58);
  text-decoration: none;
  letter-spacing: 0.05em;
  float: left;
}
.nav-item {
  font-size: 20px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.5);
}
.nav-item:hover {
  color: rgba(0, 0, 0, 1);
}
.nav-item:hover:before {
  opacity: 1;
}

.icon-account:before,
.icon-basket:before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  opacity: 0.5;
}

.icon-account:before {
  background-image: url(../assets/icon-account.png);
}
.icon-basket:before {
  background-image: url(../assets/icon-basket.png);
}