<!--The content below is only a placeholder and can be replaced.-->
<div class="content-wrapper">
  <nav class="nav-list">
    <a routerLink="/" class="nav-brand">MyBrand</a>
    <a routerLink="/basket" class="nav-item icon-basket">Basket</a>
    <a routerLink="/login" class="nav-item icon-account">Login</a>
  </nav>

  <router-outlet></router-outlet>
</div>