/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  background: url(assets/bg.png) #bebebe;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  min-height: 100%;

  font-family: "Helvetica Neue";
  font-weight: 100;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  font-size: 24px;
  min-width: 100px;
  padding: 5px 40px;
  font-weight: 100;
}

button.primary {
  background: #cdd547;
  color: #676d08;
  cursor: pointer;
}
button.primary:hover {
  background: #d5dd58;
}