<box-layout>
    <box [span]="1" backgroundImage="assets/box-lotto-small.png" routerLink="/germanlotto"></box>
    <box [span]="2" backgroundImage="assets/box-lunar.png" routerLink="/germanlotto"></box>
    <box [span]="3" backgroundImage="assets/box-eml.png" routerLink="/euromillions"></box>
</box-layout>